node_modules

# build files
dist/chrome/panel.html
dist/chrome/panel.js
dist/chrome/panel.js.map
dist/chrome/popup.js
dist/chrome/popup.js.map
dist/chrome/background.js
dist/chrome/background.js.map

# distributed zip
dist/chrome/extension.zip
dist/chrome.crx
dist/chrome.pem
