.Popup {
  min-width: 400px;
}

.Profile-list {
  margin-top: 1em;
}

.Button {
  border: none;
  border-radius: 10em;
  color: #fff;
  margin: 5px;
  padding: 0.25em 1.2em;
  font-weight: 400;
}

.Button--primary {
 background: linear-gradient(115deg, tomato, orangered);
}

.Button--secondary {
  border: 2px solid var(--color-veggie);
  color: var(--colorDark);
  padding: 0;
}

.List-item--selectable {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: relative;
  overflow: hidden;
}

/* .List-item--selectable:before {
  content: '';
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: var(--colorVeggie);
  transition: transform 0.3s ease-in;

} */

.List-item--selectable:hover {
  text-decoration: underline;
}

.List-item--selectable:after {
  content: '';
  position: absolute;
  top: 1rem;
  right: -6rem;
  width: 15rem;
  height: 15rem;
  border-radius: 10em;
  background-color: var(--colorVeggie);
  opacity: 0;
  transition: top, right, opacity;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.86, 0.45, 1, 0.74);
}

.List-item--selectable:hover:after {
  top: -2rem;
  right: -3rem;
  opacity: 1;
}

.List-item--selectable .Content-action {
  display: none;
}

.List-item--selectable:hover .Content-action {
  display: inline-block;
}

.Content-info {
  color: var(--colorVeggie);
}

.List-itemDetails {
  color: #fff;
  text-decoration: none;
  z-index: 1;
}

.Content-action:hover {
  color: var(--colorDark);
}
