@import './reset.css';

html, body {
  height: 100%;
  margin: 0;
  min-height: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

:root {
  --colorLight: lightblue;
  --colorNeutral: lightgray;
}
