@import './reset.css';
@import './typography.css';

html, body {
  height: 100%;
  margin: 0;
  min-height: 100%;
}

body {
  background-color: white;
}

*, *:after, *:before {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

:root {
  --colorLight: rgba(0, 0, 0, .1);
  --colorNeutral: rgba(0, 0, 0, .3);
  --colorDark: rgba(43, 19, 6, 1);
  --colorVeggie: tomato;
}
