.Popup {
  min-width: 350px;
}

.Master-detail {
  display: grid;
  grid-template-areas:
  'header header header'
  'master detail detail';
}

section.Header { grid-area: header; }
section.Master { grid-area: master; }
section.Detail { grid-area: detail; } 

.Selectable-list-item:first-child {
  border-top: none;
}

.Selectable-list-item {
  border-top: 2px solid var(--colorLight);
  border-collapse: collapse;
  display: inline-block;
  padding: 5px;
  width: 100%;
}

.Selectable-list-item:hover {
  background-color: var(--colorNeutral);
}

.Content-right {
  float: right;
}
