.Profile-details {
  margin-bottom: 5px;
  padding: 2px 0;
}

.Profile-details h1 .Content-info {
  margin: 0 5px;
}

.Profile-details--json {
  background-color: var(--colorNeutral);
  display: block;
  white-space: pre;
}
